body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Override semantic-ui grid, margin causes overflow */
#app #app-grid {
    margin: 0;
}
